body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: yellowgreen }


.header {
 text-align: center;
 color: olive;
}


nav ul {
 display: flex;
 list-style-type: none;
 justify-content: space-around;
 width: 40%;
 margin: 0 auto;
 
}
 .content {
  text-align: center;
  color:olivedrab
 }
 
 .footer {
  text-align: center;
  color: olive;
 }

nav li {
 
 
}

nav a {
 color: olive;
 text-decoration: none;
}

nav a:hover,
nav a:focus {
 color: olivedrab;
 font-weight: 550;
}

.current-page {
 border-bottom: 1px solid olive;
 padding: .5rem;
}